
.tombollatihan{
    background:  #389761;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
    min-width: 150px;
    margin-bottom: 2px;
}
.tombollatihan:hover{
    background: black;
	color: rgb(255, 255, 255);   
	outline: none; 
}
.border{
	border-radius: 5px 5px 5px 5px;
   background: #257C9F;
   color:white;
   height:20%;
}
.borderbab{
    width: auto;
    height: 5%;
    color: white;
    padding-top: 2px;
    padding-left: 2%;
    background-color: #389761;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.soalberwarna{
    width: 100%;
    min-height: 200px;
    color: white;
    padding: 2%;
    background-color: #015f85;
    border-radius: 5px 5px 5px 5px;
    text-align: justify;
    margin-bottom: 2px;
}
h3{
    background:  #389761;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    margin-bottom: 2px;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    width:200px;
}
h3 img{
    float: left;
    width: 20%;
    padding: 5px;
}
.h3hover{
    background:  #389761;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    margin-bottom: 2px;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    width:200px;
}
.h3hover img{
    float: left;
    width: 20%;
    padding: 5px;
}
.h3hover:hover{
    background-color: black;
}
.textjudul{
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.canvas{
    border-radius: 5px 5px 5px 5px;
    border-color: #257C9F;
    background-color:white;
    border-style: solid;
    border-width: 1px;
    padding: 3% 3% ;
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
}
.sub3{
    border-radius: 5px 5px 5px 5px;
    border-color: #257C9F;
    background-color:#389761;
    color: white;
    border-style: solid;
    border-width: 1px; 
    font-family: Arial, Helvetica, sans-serif;
}
.sub3  table tr td img{
    width: 20px;
}
.sub3 table {
    min-width: 100%;
}
.sub3 table td{
    max-width: 450px;
    padding-left: 5px;
    text-align: center;
}
.canvas2{
    border-radius: 5px 5px 5px 5px;
    border-color: #257C9F;
    border-style: solid;
    border-width: 2px;
    padding: 3% 3% ;
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
}

.gbr{
    width: 50%;
}
.jawaban{
    width: 60px;
}
.jawaban img{
    width: 60px;
}
.borderjudul{
    background:  #061f20;
    font-size: 12pt;
    padding-left: 2%;
    padding-right: 5%;
    color: white;
    border-radius: 5px 5px 5px 5px;
    width: fit-content;
}
.halatihan{
    text-align: center;
    float: right;
    width: 200px;
    padding: 2%;
    margin: 2px;
    border-radius: 5px 5px 5px 5px;
}
.canvasmengamati{
    border-radius: 5px 5px 5px 5px;
    border-color: firebrick;
    background-color:white;
    border-style: solid;
    border-width: 2px;
    padding: 3% 3% ;
    text-align: justify; 
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width:600px){
    .canvas img{
        width:100%;
    }
    .canvas{
        padding: 6%;
    }
    .canvas table{
        width:100%;
    }
    .gbr{
        width: 100%;
    }
    .sub3 table td{
        max-width: 400px;
        padding-left: 1px;
        padding-right: 1px;
        text-align: center;
    }
    .latihan img{
        width: 20px;
    }
}