/* Table */
	.tabelwarna	table {
			margin: auto;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10pt;
            overflow: scroll;
            

		}
		.tabelwarna table th{
            color: white;
            width: 10%;
            height: 5%;
            background-color: rgb(5, 77, 104);;
            text-align: center;
        }
        .tabelwarna table td{
            background-color:rgb(166, 238, 243);
            padding-left: 2%;
            padding-right: 1%;
        }
    .tabelnew table{
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        overflow: scroll;
        border: 1px;
    }
    .tabelnew table th{
        max-width: 40%;
        padding: 5px;
        min-height: 5%;
        background-color: rgb(21, 103, 158);
        color: white;
    }
    .tabelnew table td{
        max-width: 40%;
        padding: 5px;
        min-height: 5%;
        background-color: rgb(21, 103, 158);
        color: white;
    }
        @media screen and (max-width:600px){
            .tabelwarna table td{
                padding-left: 1%;
                padding-right: 1%;
            }
        }